/*Contenedor para logo y título*/
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: auto;
}

.header__container {
  max-width: 880px;
  width: 100%;
  margin: auto;
}

.header__logo {
  justify-content: flex-start;
  margin: auto;
  padding-top: 50px;
  max-width: 173px;
  width: 100%;
}

.header__line {
  justify-content: center;
  max-width: 880px;
  width: 100%;
  margin: auto;
  padding-top: 40px;
}

@media (min-width: 321px) and (max-width: 768px) {
  .header {
    width: 85%;
    margin: auto;
    padding: 20px;
  }

  .header__container {
    width: 80%;
    margin: auto;
  }

  .header__logo {
    width: 80%;
    margin-top: 30px;
    padding-left: 25px;
  }

  .header__line {
    justify-content: center;
    width: 80%;
    margin: auto;
    padding-top: 40px;
  }
}

@media screen and (max-width: 320px) {
  .header__container {
    margin: auto;
    max-width: 320px;
    width: 100%;
  }

  .header__logo {
    margin: auto;
    padding: 25px;
    max-width: 126px;
    width: 100%;
  }

  .header__line {
    max-width: 320px;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
