.page {
  display: block;
  max-width: 1600px;
  width: 100%;
  margin: 0;
  background-color: black;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #ffffff;
  text-size-adjust: 100%;
}

.body {
  margin: auto;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #ffffff;
  text-size-adjust: 100%;
}
