.body {
  max-width: 1600px;
  width: 100%;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #ffffff;
  text-size-adjust: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #ffffff;
  text-size-adjust: 100%;
}
