.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content__profile {
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 880px;
  width: 100%;
  padding-top: 40px;
}

.content__profile-group {
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
}

.content__profile_avatar {
  width: 120px;
  height: 120px;
  background-image: url("../images/Jacques_Cousteau.png");
  background-size: cover;
  border-radius: 50%;
}

.content__profile_info {
  width: 100%;
  max-width: 500px;
  padding-left: 20px;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.content__profile_title {
  max-width: 400px;
  width: 100%;
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
}

.content__profile_editbutton {
  background: url(../images/EditButton.png) no-repeat center;
  background-size: contain;
  margin: 0;
  padding: 0;
  width: 24px;
  height: 24px;
  border-radius: 0;
  border: 1px solid white;
  margin-left: 10px;
}

.content__profile_editbutton:hover {
  opacity: 0.6;
}

.content__profile_subtitle {
  max-width: 415px;
  width: 100%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}

.content__profile_addbutton {
  align-self: center;
  justify-content: flex-end;
  background-color: black;
  width: 150px;
  height: 50px;
  border-radius: 0;
  border: 1px solid white;
}

.content__profile_addbutton:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media (min-width: 321px) and (max-width: 768px) {
  .content__profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    max-width: 282px;
    width: 100%;
    padding-top: 40px;
  }

  .content__profile-group {
    justify-content: center;
    margin: 0;
  }

  .content__profile_avatar {
    margin-bottom: 30px;
  }

  .content__profile_info {
    width: 282px;
    max-width: 100%;
    padding: 0;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .content__profile_title {
    max-width: 196px;
    width: 100%;
    font-size: 35px;
    line-height: 38px;
  }

  .content__profile_editbutton {
    width: 18px;
    height: 18px;
    margin-left: 5px;
  }

  .content__profile_subtitle {
    max-width: 282px;
    width: 100%;
    font-size: 14px;
    line-height: 17px;
    margin: auto;
    padding-top: 10px;
    text-align: center;
  }

  .content__profile_addbutton {
    flex-direction: column;
    width: 282px;
    margin-top: 30px;
  }
}

@media screen and (max-width: 320px) {
  .content__profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    max-width: 282px;
    width: 100%;
    padding-top: 40px;
  }

  .content__profile-group {
    justify-content: center;
    margin: 0;
  }

  .content__profile_avatar {
    margin-bottom: 30px;
  }

  .content__profile_info {
    width: 282px;
    max-width: 100%;
    padding: 0;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .content__profile_title {
    max-width: 196px;
    width: 100%;
    margin: 0;
    font-size: 22px;
    line-height: 27px;
  }

  .content__profile_editbutton {
    width: 18px;
    height: 18px;
    margin-left: 5px;
  }

  .content__profile_subtitle {
    max-width: 282px;
    width: 100%;
    font-size: 14px;
    line-height: 17px;
    margin: auto;
    padding-top: 10px;
    text-align: center;
  }

  .content__profile_addbutton {
    flex-direction: column;
    width: 282px;
    margin-top: 30px;
  }
}
